/* PAGE DESTACADOS */

.destacados{
    background-color: $amarillo-eme;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 0.1fr 0.2fr 1fr 1fr 1fr 1fr 0.2fr; 
    gap: 3px; 
    grid-template-areas:
    "header"
    "navbar"
    "main"
    "section1"
    "section2"
    "section3"
    "section4"
    "footer";

    main{
        grid-area: main;
        background-color:$amarillo-eme;
        h3{
           font-size: 3rem;
           font-family: $font-eme;
        }
    }

    .section1{
        grid-area: section1;
        background-color: #000000;
        padding: 30px;
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: right;
        div{
           h4{
            color: $amarillo-eme;
            font-family:$font-eme;
            font-size: 3rem;
           }
           p{
            color: white;
            font-size: 1rem;
           }
        }
    }

    .section2{
        grid-area: section2;
        background-color:$amarillo-eme;
        padding: 30px;
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;     
        text-align: left;
        div{
           h4{
            color: #000000;
            font-family:$font-eme;
            font-size: 3rem;
           }
           p{
            color: rgb(0, 0, 0);
            font-size: 1rem;
           }
        }
    }

    .section3{
        grid-area: section3;
        background-color: #000000;
        padding: 30px;
        margin: 5px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        text-align: right;
        div{
           h4{
            color: $amarillo-eme;
            font-family:$font-eme;
            font-size: 3rem;
           }
           p{
            color: white;
            font-size: 1rem;
           }
        }
    }

    .section4{
        grid-area: section4;
        background-color:$amarillo-eme;
        padding: 30px;
        margin: 5px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;     
        text-align: left;
        div{
           h4{
            color: #000000;
            font-family: $font-eme;
            font-size: 3rem;
           }
           p{
            color: rgb(0, 0, 0);
            font-size: 1rem;
           }
        }
    }
}